<div class="container">
 <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-users"></i>&nbsp;Donors</div>
      <div class="panel-body">
	  	<div class="col-md-6">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Search">
			</div>

			<table tr-ng-grid="" class="table table-striped table-bordered table-hover"
					items="donors" page-items="10" enable-filtering="false" enable-sorting="true" enable-pagination="true">
				<thead>
					<tr>
						<th field-name="name"></th>
						<th field-name="address"></th>
						<th field-name="contact"></th>
					</tr>
				</thead>
			 <tfoot>
                <tr>
                    <td colspan="4">
                        <form class="form-inline tr-ng-grid-footer">
                            <div tr-ng-grid-global-filter=""></div>
                            <div tr-ng-grid-pager=""></div>
                        </form>
                    </td>
                </tr>
            </tfoot>
			</table>

		</div>
		<div class="col-md-6">
			<google-map center="map.center" zoom="map.zoom"></google-map>
		</div>
    </div>
</div>