<div class="container">
	<div class ="panel panel-default">
		<div class="panel-heading"><i class="fa fa-bar-chart-o"></i>&nbsp;Dashboard</div>
		<div class="panel-body">

			<!-- statistics -->
			<div class="row">
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-success"> <i class="fa fa-rocket"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">
								25 <span class="size-h4">%</span>
							</p>
							<p class="text-muted">
								<span data-i18n="Growth">Growth</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-info"> <i class="fa fa-users"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">112</p>
							<p class="text-muted">
								<span data-i18n="New users">New users</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-warning"> <i class="fa fa-dollar"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">4550</p>
							<p class="text-muted">
								<span data-i18n="Tax Savings">Savings</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-danger"> <i
							class="fa fa-shopping-cart"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">262</p>
							<p class="text-muted">
								<span data-i18n="Donations">Donations</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="well">
						Inbox Messages <span class="badge pull-right">3</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-3">
						<a title="Add Donation" href="#/donate"
							class="btn btn-success"><span
							class="fa fa-plus"></span> Add Donation</a>
					</div>
					<div class="col-md-6 pull-right">
						<a title="Twitter" href="http://www.twitter.com"
							class="btn btn-primary"><span
							class="fa fa-twitter"></span> Twitter</a>

						<a title="Facebook" href="http://www.facebook.com"
							class="btn btn-primary"><span
							class="fa fa-facebook"></span> Facebook</a>
					</div>
				</div>
			</div>
			<div class="panel panel-default" ng-controller="DonateCtrl">
				<div class="panel-heading">My Donations</div>
				<div class="panel-body">
					<div class="col-md-6">
						<table tr-ng-grid="" class="table table-striped table-bordered table-hover"
								items="donations" page-items="10" enable-filtering="false" enable-sorting="true" enable-pagination="true">
							<thead>
								<tr>
									<th field-name="item"></th>
									<th field-name="category"></th>
									<th field-name="quantity"></th>
									<th field-name="recipient.name">Recipient</th>
									<th field-name="date"></th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="col-md-6">

						<div class="pull-right" ng-init="chart='category'">
							<select chosen ng-model="chart" id="chart">
							  <option value="category">Category</option>
							  <option value="recipient">Recipient</option>
							</select>
						</div>

						<div ng-show="chart=='category'">
							<nvd3-discrete-bar-chart
									data="categoryData"
									showXAxis="true"
									showYAxis="true"
									width="550"
									height="480"
									transitionDuration ="350"
									tooltips="true"
									showValues="true"
									showLegend="true">
							</nvd3-discrete-bar-chart>
						</div>

						<div ng-show="chart=='recipient'">
							<nvd3-discrete-bar-chart
									data="recipientData"
									showXAxis="true"
									showYAxis="true"
									width="550"
									height="480"
									transitionDuration ="350"
									tooltips="true"
									showValues="true"
									showLegend="true">
							</nvd3-discrete-bar-chart>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>