<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>Glean</strong> for Good</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Glean Donors<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/recipients"><i class="fa fa-child"></i>&nbsp; Recipients</a></li>
            <li><a href="#/donate"><i class="fa fa-thumbs-up"></i>&nbsp; Donate</a></li>
            <li class="divider"></li>
            <li><a href="#/ddash"><i class="fa fa-bar-chart-o"></i>&nbsp; Dashboard</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Glean Recipients<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/donors"><i class="fa fa-users"></i>&nbsp; Donors</a></li>
        	<li><a href="#/volunteers"><i class="fa fa-car"></i>&nbsp; Volunteers</a></li>
            <li><a href="#/food"><i class="fa fa-umbrella"></i>&nbsp; Receive</a></li>
            <li class="divider"></li>
            <li><a href="#/rdash"><i class="fa fa-bar-chart-o"></i>&nbsp; Dashboard</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
            <li><a href="#">Another action</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>