<div class="container">
	<div class ="panel panel-default">
		<div class="panel-heading"><i class="fa fa-bar-chart-o"></i>&nbsp;Dashboard</div>
		<div class="panel-body">

			<!-- statistics -->
			<div class="row">
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-success"> <i class="fa fa-rocket"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">
								25 <span class="size-h4">%</span>
							</p>
							<p class="text-muted">
								<span data-i18n="Growth">Growth</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-info"> <i class="fa fa-users"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">112</p>
							<p class="text-muted">
								<span data-i18n="New users">New Donors</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xsm-6">
					<div class="panel mini-box">
						<span class="box-icon bg-danger"> <i
							class="fa fa-shopping-cart"></i>
						</span>
						<div class="box-info">
							<p class="size-h2">262</p>
							<p class="text-muted">
								<span data-i18n="Contributions">Contributions</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="well">
						Inbox Messages <span class="badge pull-right">3</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-3">
						<a title="Add Donation" href="#/donate"
							class="btn btn-success"><span
							class="fa fa-plus"></span> Add Donation</a>
					</div>
					<div class="col-md-6 pull-right">
						<a title="Twitter" href="http://www.twitter.com"
							class="btn btn-primary"><span
							class="fa fa-twitter"></span> Twitter</a>

						<a title="Facebook" href="http://www.facebook.com"
							class="btn btn-primary"><span
							class="fa fa-facebook"></span> Facebook</a>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Contributions</div>
				<div class="panel-body">
					<div class="col-md-6">
						<table class="table table-striped" ng-controller="DonateCtrl">
							<thead>
								<tr>
									<th>Donation</th>
									<th>Quantity</th>
									<th>Receiver</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="animate-repeat" ng-repeat="donation in donations | filter:search">
									<td>{{$index+1}}</td>
									<td>{{donation.item}}</td>
									<td>{{donation.quantity}}</td>
									<td>{{donation.recipient}}</td>
									<td>{{donation.date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<nvd3-multi-bar-horizontal-chart
							data="exampleData"
							id="exampleId"
							xAxisTickFormat="xAxisTickFormatFunction()"
							yAxisTickFormat="yAxisTickFormatFunction()"
							width="550"
							height="550">
							<svg></svg>
						</nvd3-multi-bar-horizontal-chart>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>